/* NAVIGATION BAR */
header {
  width: 100%;
  height: 10em;
  background-color: #345cd7;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.navbar {
  background-color: #E7C7AF;
  background-size: cover;
  overflow: hidden;
  padding-bottom: 10px;
}

.navbar li {
  display: inline;
  float: right;
  color: black;
  font-size: 25px;
  font-family: "PT Serif", serif;
}
.navbar a {
  color: #1E1104;
  padding-right: 40px;
  padding-left: 30px;
  text-decoration: none;
}
.navbar li:nth-child(2) {
  border-right: none;
}
.navbar li:nth-child(1) {
  border-right: none;
}
.navbar a:hover {
  color: #FBE9CD;
}

body {
  background-color: #FBE9CD;
}
/* MAIN */
.main {
  background-color: #FBE9CD;
  padding-bottom: 25%;
  padding-top: 3%;
}



.logo {
  width: 45%;

  text-align: center;
}

h2 {
  margin-top: 0;
  color: #673E15;
}
.right {
  float: right;
  text-align: center;
}
.left {
  float: left;
  
}

.words {
  margin-left: 5%;
  padding-left: 50px;
  background-color: #DDEDFD;
  border-radius: 20px;
}

.words h3 {
  padding-bottom: 20px;
}

.words h2 {
  padding-top: 40px;
  padding-bottom: 20px;
}

.words h1 {
  padding-top: 30px;
}

.words h5 {
  padding-bottom: 30px;
}

          